<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.LikeMapper">

<insert id="insertSelectKey">
<selectKey keyProperty="lno" order="BEFORE" resultType="long">
select seq_restaurant_like.nextval from dual
</selectKey>

insert into restaurant_like (lno, bno, uno, like_check)
values (#{lno}, #{bno}, #{uno}, #{like_check})
</insert>

<delete id="delete">
delete from restaurant where no = #{no}
</delete>

<update id="update">
update restaurant set rname= #{rname}, rloc= #{rloc}, contact= #{contact}, menu= #{menu}, 
description= #{description} where no = #{no}
</update>

<select id="likeCount" resultType="int">
	SELECT count(*) FROM restaurant_like where bno = #{bno}
</select>

</mapper>